{:deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/tools.logging {:mvn/version "1.2.4"}
  org.slf4j/slf4j-api {:mvn/version "1.7.36"}
  ch.qos.logback/logback-classic {:mvn/version "1.2.11"}}
 :paths ["src" "resources" "models"]
 :jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/slf4j-factory"]
 :aliases
 {:run {:main-opts ["-m" "com.devdiscoveries.sdkit.main"]
        :jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/slf4j-factory"]}
  :autotest {:main-opts ["-m" "autotest"]
             :extra-paths ["test" "scripts"]
             :extra-deps {midje/midje {:mvn/version "1.10.5"}}
             :jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/slf4j-factory" "-Dlogback.configurationFile=resources/test-logback.xml"]}
  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}}}
